[submodule "LoFox/vendor/spdlog"]
	path = LoFox/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "LoFox/vendor/GLFW"]
	path = LoFox/vendor/GLFW
	url = https://github.com/HannesCoulembier/glfw
[submodule "LoFox/vendor/glm"]
	path = LoFox/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "LoFox/vendor/ImGui"]
	path = LoFox/vendor/ImGui
	url = https://github.com/HannesCoulembier/ImGui
